<% layout('layout') %>
  <div id="delicious-secret">
    <% if(customerEmail) { %>
      <%= customerEmail %>
    <% } %>
    <div id="delicious-secret-title">
      <hr>
      <div>
        <h2>客人總是在詢問</h2>
        <h2>這麼好吃的秘訣是什麼</h2>
      </div>
      <hr>
    </div>

    <div id="tips">
      <div>
        <img src="/images/feature_1.png" alt="台灣本土蔬菜">
        <p>台灣本土蔬菜</p>
        <p>
          In hac habitasse platea dictumst.
          Vivamus adipiscing fermentum quam volutpat aliquam.
          Integer et elit eget elit facilisis tristique.
          Nam vel iaculis mauris.
        </p>
      </div>
      <div>
        <img src="/images/feature_2.png" alt="專業米其林廚師">
        <p>專業米其林廚師</p>
        <p>
          Sed ullamcorper tellus erat,non 
          ultrices sem tincidunt euismod.
          Fusce rhoncus porttitor velit,
          eu bibendum nibh aliquet vel.
          Fusce lorem leo, vehicula at nibh quis,
          facilisis accumsan turpis.
        </p>
      </div>
      <div>
        <img src="/images/feature_3.png" alt="對於專業不能退讓">
        <p>對於專業不能退讓</p>
        <p>
          Fusce rhoncus porttitor velit,eu 
          bibendum nibh aliquet vel.
          Fusce lorem leo,
          vehicula at nibh quis,
          facilisis accumsan turpis.
        </p>
      </div>
    </div>
  </div>

  <div id="today-chef">
    <img src="/images/main_chef_brown.png" alt="今日主廚">
    <article>
      <h2>今日主廚：帕金森、梅在帕</h2>
      <h3>Tody Chef: Plum in Shock</h3>
      <p>
        Mauris non tempor quam, et lacinia
        sapien. Mauris accumsan eros eget
        libero posuere vulputate. Etiam
        elit elit, elementum sed varius at,
        adipiscing vitae est. Sed nec felis
        pellentesque, lacinia dui sed, ultricies
        sapien. Pellentesque orci lectus,
        consectetur vel posuere posuere,
        rutrum eu ipsum. Aliquam eget 
        sed ligula iaculis consequat at eget
        orci. Mauris molestie sit amet metus mattis varius.
        Donec sit amet ligula eget nisi sodales egestas. Aliquam
        interdum dolor aliquet dolor sollicitudin fermentum.
        Donec congue lorem a molestie bibendum.
      </p>
    </article>
  </div>

  <div id="feedback">
    <h2>聽聽別人的感想</h2>
    <div>
      <img src="/images/avatar_1.png" alt="高雄一口吃">
      <h3>高雄一口吃</h3>
      <p>
        自從吃了這家餐廳以後，
        我口水連續流了一個多月都沒停，
        下次不要再被我遇到，不然我一定
        連他們桌子都啃下去。
      </p>
      <p>--產品經理</p>
    </div>
    <div>
      <img src="/images/avatar_2.png" alt="廟口小霸王">
      <h3>廟口小霸王</h3>
      <p>
        自從吃了這家餐廳以後，
        我口水連續流了一個多月都沒停，
        下次不要再被我遇到，不然我一定
        連他們桌子都啃下去。
      </p>
      <p>--金身道士</p>
    </div>
    <div>
      <img src="/images/avatar_3.png" alt="春天也來了">
      <h3>春天也來了</h3>
      <p>
        自從吃了這家餐廳以後，
        我口水連續流了一個多月都沒停，
        下次不要再被我遇到，不然我一定
        連他們桌子都啃下去。
      </p>
      <p>--美麗萬分</p>
    </div>
  </div>

  <div id="reservation">
    <div id="reservation-title">
      <h2>我們位置不太夠坐</h2>
      <h2>要不要先訂位呢?</h2> 
    </div>
    <div id="google-map">google map</div>
    <form action="/" method="post" id="reservationForm">
      <p>姓名</p>
      <input type="text" name="name" placeholder=" ex:王小明">
      <p>電話</p>
      <input type="text" name="phone" placeholder=" ex:+886 9038567">
      <p>信箱</p>
      <input type="text" name="mail" placeholder=" ex:ghjo@gmail.com">
      <p>人數</p>
      <input type="text" name="numbers" placeholder=" ex:10">
      <p>是否需要素食</p>
      <input type="radio" name="vegetarian" value="yes"> 是
      <input type="radio" name="vegetarian" value="no" checked> 否
      <input type="button" name="cancel" id="cancel" value="取消">
      <input type="submit" name="send" value="送出">
    </form>
  </div>
  <script src="/javascripts/index_dom.js"></script>